/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fff; /* Default to light mode */
    transition: background-color 0.3s ease-in-out;
    color: #333; /* Set default text color to a dark gray for better readability */
}

.dark-mode {
    background-color: #222; /* Dark mode background */
    color: #fff; /* Change text color to white in dark mode */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #c9c9c9;
    color: #000000; /* Set header text color to black */
    padding: 15px 0;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    font-size: 18px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

.dark-mode-toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.dark-mode-toggle label {
    margin-left: 10px;
    color: #000000; /* Change toggle label color to black */
}

.dark-mode-toggle label,
.hamburger-menu {
    color: #000000; /* Set text color to black */
}

.hamburger-menu:hover {
    opacity: 0.7; /* Add some visual feedback on hover */
}

.nav-toggle {
    display: none; /* Hide the checkbox input */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000000; /* Set bar color to black */
    margin: 3px 0;
    transition: transform 0.3s ease-in-out;
}

nav {
    background-color: #f0f0f0; /* Change navigation bar background color to a light gray */
    width: 200px; /* Set the width of the navigation bar */
    height: 100%;
    top: 0;
    left: -200px; /* Initially hide the navigation bar off the screen */
    position: fixed;
    transition: left 0.3s ease; /* Add a smooth transition effect */
}

nav.open {
    left: 0; /* Show the navigation bar when it has the "open" class */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333; /* Set hyperlink color to dark gray for better contrast */
    text-decoration: none;
}

nav ul li a:hover {
    color: #00bcd4;
}

/* Dark mode styles */
.dark-mode header {
    background-color: #111; /* Change header background color to dark gray */
    color: #fff; /* Change header text color to white in dark mode */
}

.dark-mode .dark-mode-toggle label,
.dark-mode .hamburger-menu {
    color: #fff; /* Set text color to white in dark mode */
}

.dark-mode .bar {
    background-color: #fff; /* Set bar color to white in dark mode */
}

.dark-mode nav {
    background-color: #111;
}

.dark-mode nav ul li a {
    color: #fff;
}

.hidden {
    display: none;
}
